<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Tracker</title>
</head>
<body>
    <h2>Daily Entry</h2>
    {% load static %}
    <script src="{% static 'daily_tracker/daily_entry.js' %}"></script>

    <form method="post">
        {% csrf_token %}
        
        {{ form.mood }} <button type="button" class="mood-button" onclick="selectMood(1, event)">😭</button>
        <button type="button" class="mood-button" onclick="selectMood(2, event)">😢</button>
        <button type="button" class="mood-button" onclick="selectMood(3, event)">😐</button>
        <button type="button" class="mood-button" onclick="selectMood(4, event)">😊</button>
        <button type="button" class="mood-button" onclick="selectMood(5, event)">🤩</button>

        <p>Sleep: {{ form.sleep }}</p>

        <button type="submit">Save Entry</button>
    </form>
    <a href = "{%url 'dashboard'%}">Back</a>
</body>
</html>